# This is Git's per-user configuration file.
[user]
	name = ShuzoN
	email = d.namu.r21@gmail.com
[core]
	excludesfile = /Users/nakamura_mac/dotfiles/.gitignore_global
	quotepath = false
	editor = /usr/bin/vim
[url "https://"]
	insteadOf=git://
[push]
	default = matching
[alias]
	co  = checkout
  st  = status
  cm  = commit
  lg  = log --graph --decorate --all --oneline
  lgp = log -p
  df  = diff
[fetch]
	prune = true
